* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --aplicaciones: #757575;
  --color-body: #e5e5e5;
  --color-botones: (#f5f4fa);
  --color-web: #2196f3;
  --color-principal: #ffffff;
  --color-secundario: #2f303a;
  --color-rojo: #ef0c0c;
  --color-texto: #212121;
  --color-contenedor-bg: #eeeeee;
  --color-white: rgb(255, 255, 255);
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-variant: "Raleway", sans-serif;
}
/*Aca empieza contenido header*/
.icon-contain{
  font-size: 26px;
  line-height: normal;
  color: var(--color-web);
  letter-spacing: 3%;
  padding: 24px 0 ;
}
.page-header {
  display: flex;
  justify-content: space-between;
}
.page-header li {
margin: 32px 93px 32px  0;
}
.links-header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  color: var(--color-texto);
}
.links-header:hover {
  color: var(--color-web);
}
.page-header-contain {
  display: flex;
}
.page-header-contain li{
  margin: 32px 0 32px 50px;
}
.page-header-contain:hover {
  color: var(--color-body);
}
.links-header-contain {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2%;
  color: #212121;
}
.links-header-contain:hover {
  color: var(--color-web);
}
/*Aqui termina contenido header*/

/*Aca empieza barra botones pagina portafolio*/
.boton {
  padding: 138px 32px 56px  0;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link a {
  margin: 40px;
}
.boton-link {
  color: var(--color-texto);
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
  cursor: pointer;
  color: var(--color-texto);
  border-bottom: 3px solid transparent;
  border-radius: 10px;
  padding: 10px 5px;
}
.boton-link:hover {
  background-color: var(--color-web);
  border-bottom: 3px solid blue;
}

/*Aca empieza contenido de servicios prestados*/
.soluciones {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  text-align: center;
  color: var(--color-principal);
}
.color{
  background-color: #2f303a;
}
.soluciones-eficases {
  width: 696px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.solicite-nuestro-servicio {
  background-color: var(--color-web);
  font-weight: var(--font-weigth-7);
  font-size: var(--font-size-16p);
  line-height: 14px;
  letter-spacing: 6%;
  text-align: center;
  color: var(--color-principal);
  border: 4px solid transparent;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
  margin-top: 40px ;
}
.solicite-nuestro-servicio:hover {
  border: 4px solid blue;
  cursor: pointer;
}
/*Aca empieza contenido calidad del servicio*/
.grupo-1 {
  display: flex;
  justify-content: space-between;
}
.grupo-1-item{
  list-style: none;
  margin-top: 50px;
}

.grupo-1-titulo {
  top: 801px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 3%;
  color: var(--color-texto);
}
.grupo-1-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  margin-top: 10px;
  color: var(--aplicaciones);
}
/*Aca empieza contenido a que nos dedicamos*/
.seccion-img {
  display: flex;
  justify-content: center;
}
.seccion-img img {
  margin: 20px;
}
.titulo-dedicamos {
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  padding: 115px 0 55px 0;
}
/* Aca empieza contenido nuestro equipo*/
.titulo-equipo {
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  padding: 0 0 50px 0 ;
}
.section{
  padding: 94px 0;
}
.contenido{
  display: flex;
  justify-content: center;
}
.contenido > li{
  margin:20px;
}
.contenido-link {
  margin-right: 208px;
  background-color: var(--color-principal);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}
.contenido-nombre {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  padding-top: 10px;
}
.contenido-oficio {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--aplicaciones);
  padding-top: 10px;
}
.equipo-link{
  padding: 30px 10px;
}
/*aqui termina contenido nuestro equipo*/
/*A empieza contenido de la pagina portafolio*/
.portafolio .portafolio-link {
  margin:10px 0 82px 0px;
}
.portafolio-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portafolio-link {
  background-color: var(--color-principal);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 01 4px 4px rgba(0, 0, 0, 0.6),1px 4px 6px rgba(0, 0, 0, 0.16);
  padding: 50px 20px 5px 0;
}
.portafolio-link:hover {
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}
.portafolio-titulo {
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 6%;
  padding: 0 1px 0;
  color: var(--color-texto);
  padding: 20px 0 10px 25px;
}
.portafolio-web {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-decoration: none;
  padding: 20px 0 20px 25px;
  color: var(--aplicaciones);
}
/*Aca empieza el contenido footer de las principal y portafolio*/
.footer a{
  padding: 50px 0 14px 15px;
}
.footer-link{
  display: flex;
  flex-direction: column;
  background-color: var(--color-secundario);
}
.footer-link-web {
  font-family: var(--Raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-web);
}
.footer-link-mex {
  font-family: var(--Raleway);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-body);
}
.footer-link-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-body);
  text-decoration: none;
}
