* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --aplicaciones: #757575;
  --color-body: #e5e5e5;
  --color-botones: (#f5f4fa);
  --color-web: #2196f3;
  --color-principal: #ffffff;
  --color-secundario: #2f303a;
  --color-rojo: #ef0c0c;
  --color-texto: #212121;
  --color-contenedor-bg: #eeeeee;
  --color-white: rgb(255, 255, 255);
}
.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-variant: "Raleway", sans-serif;
}
/*Aca empieza contenido header*/
.icon-header {
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 30.52px;
  color: var(--color-web);
  letter-spacing: 3%;
  text-decoration: none;
}
.page-header {
  display: flex;
  list-style: none;
  align-items: center;
}
.page-header a {
  text-decoration: none;
}
.links-header {
  width: 49px;
  font-weight: 500px;
  font-size: 14px;
  letter-spacing: 2%;
  color: #212121;
  margin: 5px;
  margin-left: 100px;
}
.links-header:hover {
  color: var(--color-web);
}
.page-header-contain {
  width: 1200px;

  display: flex;
  justify-content: end;
  text-decoration: none;
  list-style: none;
}
.page-header-contain:hover {
  color: var(--color-body);
}
.links-header-contain {
  margin: 10px;
}
.links-header-contain {
  width: 49px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 16.41;
  letter-spacing: 2%;
  color: #212121;
}
.links-header-contain:hover {
  color: var(--color-web);
}
.redes {
  display: flex;
  justify-content: end;
}
.redes a {
  margin: 10px;
}
.redes-link {
  width: 118px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2%;
  color: #757575;
  background-color: transparent;
}
.redes-link:hover {
  background-color: var(--color-web);
  color:var(--color-white);
}
/*Aqui termina termina contenido header*/

/*Aca empieza barra botones pagina portafolio*/
.boton {
  margin-top: 112px;
  margin-bottom: 56px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link a {
  margin: 40px;
}
.boton-link {
  color: var(--color-texto);
  background-color: transparent;
  width: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  cursor: pointer;
  color: var(--color-texto);
  border-bottom: 3px solid transparent;
  border-radius: 10px;
  padding: 10px 5px;
}
.boton-link:hover {
  background-color: var(--color-web);
  border-bottom: 3px solid blue;
}

/*Aca empieza contenido de servicios prestados*/
.soluciones {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 600px;
  text-align: center;
  color: var(--color-principal);
  background-color: var(--color-secundario);
  margin-left: auto;
  margin-right: auto;
}
.soluciones-eficases {
  width: 696px;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
.solicite-nuestro-servicio {
  background-color: var(--color-web);
  font-weight: var(--font-weigth-7);
  font-size: var(--font-size-16p);
  line-height: 14px;
  letter-spacing: 6%;
  text-align: center;
  color: var(--color-principal);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 6px 8px 10px;
  margin-top: 40px;
}
.solicite-nuestro-servicio:hover {
  border: 2px solid blue;
  cursor: pointer;
}
/*Aca empieza contenido calidad del servicio*/
.grupo-1 {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.grupo-1-titulo {
  width: 270px;
  top: 801px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 3%;
  color: var(--color-texto);
}
.grupo-1-link {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  margin-top: 10px;
  color: var(--aplicaciones);
}
/*Aca empieza contenido a que nos dedicamos*/
.a-que-nos-dedicamos {
  margin-left: auto;
  margin-right: auto;
}
.img {
  display: flex;
}
.seccion-li {
  display: flex;
  justify-content: center;
}
.seccion-li img {
  margin: 23px;
}
.titulo-dedicamos {
  width: 371.15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  margin: auto;
  margin-top: 99px;
  margin-bottom: 50px;
}
.seccion-link {
  top: 991px;
  left: 215px;
  margin-top: 118px;
  margin: 15px;
}

/* Aca empieza contenido nuestro equipo*/
.titulo-equipo {
  width: 263px;
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 50px;
}
.nuestro-equipo {
  margin: 188px auto 50px auto;
}
.nuestro-equipo li {
  margin: 19px;
}
.contenido {
  display: flex;
  justify-content: center;
}
.contenido-link {
  width: 270px;
  margin-right: 208px;
  background-color: var(--color-principal);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
}
.contenido-img {
  width: 270px;
  top: 1696px;
  left: 208px;
}
.contenido-nombre {
  width: 118px;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--color-texto);
  padding-top: 10px;
  margin: 0 auto;
}
.contenido-oficio {
  width: 182px;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-align: center;
  color: var(--aplicaciones);
  padding-top: 10px;
  margin: 0 auto;
}
/*aqui termina contenido nuestro equipo*/
/*A empieza contenido de la pagina portafolio*/
.portafolio {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-contenedor-bg);
}
.portafolio li {
  margin: 10px;
}
.portafolio-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.portafolio-link {
  width: 370px;
  height: 404px;
  background-color: var(--color-principal);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 01 4px 4px rgba(0, 0, 0, 0.6),1px 4px 6px rgba(0, 0, 0, 0.16);
  margin: auto;
  margin-bottom: 10px;
}
.portafolio-link:hover {
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}
.portafolio-img {
  width: 370px;
}
.portafolio-titulo {
  width: 322px;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 6%;
  padding: 0 1px 0;
  color: var(--color-texto);
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}
.portafolio-web {
  width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 3%;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 30px;
  color: var(--aplicaciones);
}
/*Aca empieza el contenido footer de las principal y portafolio*/
.footer h2{
  margin-top: 50px;
}
.footer-link{
  display: flex;
  flex-direction: column;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-secundario);
  padding-left: 20px;
}
.footer-link-web {
  width: 145px;
  font-family: var(--Raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-web);
}
.footer-link-mex {
  width: 231px;
  font-family: var(--Raleway);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-body);
}
.footer-link-info {
  width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 3%;
  color: var(--color-body);
  text-decoration: none;
}
