* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .menu{
    background-color: #FFFF;
    width:1200px;
    height:auto;
    padding: 2px ;
    display: flex;
    flex-direction:row;
    justify-content:first baseline; 
  }
  .menu .link a {
  color:red;
  margin: 50px;
  text-decoration: none;
  }
  header{
    background-color: whitesmoke;
    display: flex;
    width: 1200px;
    padding: 10px;
    margin-top: 80px;
  }
   header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header nav .menu .logo img{
  width: auto;
  }
  header nav .menu .link a{
    padding: 1px 1px;
    width: auto;
    color:black;
    text-decoration: none;
    margin: 85px ;
  }
  
  .menu .link .estudio{
    color: blue;
  }
  .menu .link .correo{
    color: blue;
  }
  .estudio {
  background-color:white;
  cursor: pointer;
  }  
  .estudio:hover{
    background-color:red;
  }  
  .portafolio{ 
  background-color: white;
  } 
  header nav .menu .link .portafolio{
  background-color: red;
  } 
  .portafolio:hover{
    background-color:red;
  }  
  .contacto {
    background-color:white;
    cursor: pointer;
  }  
  .contacto:hover{
    background-color:red;
  }  
  .correo{
    background-color:white;
    cursor: pointer;
  }  
  .correo:hover{
    background-color:red;
  }  
  .telefono{
    forced-color-adjust: black;
    background-color:white;
    cursor: pointer;
  }  
  .telefono:hover{
    background-color:yellow;
  }  
  
  .cards-container{
    background-color:#E5E5E5;
    width:1200px;
    height:auto;
    padding: 50px 20vh;
    display: flex;
    flex-direction:r;
    flex-wrap: wrap; 
    justify-content: space-between; 
    }
    .card{
      margin: 20px;
      width:200px ;
      display: flex;
      flex-direction: column;
    }
    .card > img{
        width: 100%;
        height: auto;
    }
    .card-body{
      margin: 6px;
        padding: 0 5px;
    }
 
  .todo{
    background-color:white;
    cursor: pointer;
  }  
  .todo:hover{
    background-color:blue;
  }  
  .web{
    background-color:white;
    border:  rgb(0, 255, 81);
    cursor: pointer;
  }
  .web:hover{
    background-color:blue;
  }
  .aplicacion{
    background-color:white;
    padding: 1px;
    border:  rgb(0, 255, 81);
    cursor: pointer; 
  }
  .aplicacion:hover{
    background-color:blue;
  }
  .diseño{
    background-color:white;
    padding: 1px;
    border:  rgb(0, 255, 81);
    cursor: pointer; 
  }
  .diseño:hover{
    background-color:blue;
  }
  .market{
    background-color:white;
    padding: 1px;
    cursor: pointer; 
  }
  .market:hover{
    background-color:blue;
  }
  .youtube{
    background-color:white;
    color: black;
    padding: 1px;
    font-family: "Roboto", sans-serif;
    border: greenyellow;
    cursor: pointer;
  }
  .youtube:hover{
      background-color: yellow;
      }
  .apps{
    background-color: white;
    color: black;
    padding: 1px;
    font-family: "Roboto", sans-serif;
    border:  greenyellow;
    cursor: pointer;
  }
  .apps:hover{
    background-color: blue;
      }
  .marketing{
    background-color: white;
    color: aqua;
    padding: 1px;
    font-family: "Roboto", sans-serif;
    border: greenyellow;
    cursor: pointer;
      }  
  .marketing:hover{
  background-color: blue; 
      }
  .instagram{
     background-color:white;
    color: aqua;
    padding: 1px;
    font-family: "Roboto", sans-serif;
    border: 2px solid greenyellow;  
    cursor: pointer; 
      }  
  .instagram:hover{ 
        background-color: yellow; 
      } 
      
      .footer .card{
        display: flex;
        background-color:black;
        color: white;
         width: 1200px;
         height: 200px;
         flex-direction: row;
         justify-content:space-between;
         margin: 2px;
         padding: 4px;
        }
      .redes {
        width: 400px;
        height: 40px;
        margin: 17px 3px 5px 5px;
      }
  
    
  